.location {
    display: flex;
    margin-bottom:0.8rem;
  }
  .location p {
    line-height: 20px;
  }
  .phone {
    display: flex;
    align-items: center;
  }
  
  .gmail{
    display: flex;
    align-items: center;
  }
  .footer{
    width:100%;
    padding-left: 6rem 0;
    margin-left: 2rem;
    background-color:color(from color srgb r g b)
  }
  .footer-container{
    max-width: 1140px;
    margin:auto;
    
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 40px;
  }

  .left{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

  }
  .right{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

  }
  .Social {
    margin-top:1rem;

  }
  @media screen and (max-width:640px){
    .footer-container{
      grid-template-columns: 1fr;
    }
    
  }
  
  