.location {
    display: flex;
    margin-bottom:0.8rem;
  }
  .location p {
    line-height: 20px;
  }
  .phone {
    display: flex;
    align-items: center;
  }
  
  .gmail{
    display: flex;
    align-items: center;
  }
  .footer{
    max-width: 100%;
    padding-left: 6rem 0;
    margin-left: 2rem;
  
  }
  .footer-container{
    max-width:100%;
    
    
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 40px;
  }

  .left{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: -20px;

  }
  .right{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

  }
  .Social {
    margin-top:1rem;

  }
  .left,
.right {
  height: 100%;
  width: 100%; /* Change max-width to width */
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.footer {
  max-width: 100%; /* You can remove padding-left and margin-left if not needed */

}

.footer-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 40px;
}

@media screen and (max-width: 640px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}

  /* @media screen and (max-width:640px){
    .footer-container{
      grid-template-columns: 1fr;
    }
    
  } */
  
  