.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    height:90px;
    z-index: 10;
  
}

.header-bg{
    transition: 0.5s;
    background-color: rgb(17, 6, 58);
}
.Navbar{
    display: flex;
}
.Navbar li {
    padding:  0 2rem;
    list-style: none;
    

     

}
.Navbar ul {
    list-style: none;
  }
/* .Navbar li:hover {
    padding-right: 20px;
    background-color: transparent;
    color: white;
    transition: 0.3s;
   }  */

.Navbar li a{
font: size 200px; ;
font-weight: 500;
}
/* .H1:hover{
    padding-left: 50px;
    background-color: tra;
    color: white;
    transition: 0.3s;
    
} */
.hamburger{
    display: none;
   
}
@media screen and (max-width:1040px)
/* @media screen and (max-width:1040px){ */ {
    .Navbar{
        flex-direction: column;
        justify-content:center ;
        
        align-items: center;
        width : 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;

    }
    .Navbar.active{
        left:0;
        
    }
    .Navbar li {
        padding: 1rem 0;
    }
    
    .Navbar li a {
        font-size:  2 rem;
    }
    .hamburger {
        display: initial;
    }
}
