/* PricingCardStyle.css */

.CrusialCard {
    width: 100%;
    padding: 6rem 1rem;
    background-color: black;
  }
  
  .CardContainer {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
  
  .Card {
    border: 1px solid #eee;
    color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 10px; /* Add border radius for rounded corners */
  }
  
  .Card h3 {
    font-size: 1.6rem;
    padding: 1rem;
  }
  
  .Card p {
    padding: 10px 0;
  }
  
  .Bar {
    border-bottom: 1px solid #eee;
    width: 10%;
    margin: 1.5rem auto;
    display: block;
  }
  
  .btc {
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem 0;
  }
  
  .btn {
    display: block;
    width: 80%;
    margin: 2rem auto;
    background-color: #007bff; /* Button base color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3; /* Change color on hover */
  }
  
  @media screen and (max-width: 740px) {
    .CardContainer {
      max-width: 90%;
      margin: auto;
      grid-template-columns: 1fr;
    }
  }
  